html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  height: 300vh;
}

.capture-canvas {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.capture {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 400px;
}

.capture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}
